.product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.bold-heading {
  color: var(--blue);
  font-weight: 800;
}

.text-desc {
  color: var(--grey-text);
  font-weight: 500;
}

.section-hero {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.section-features {
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 4rem;
}

.advert-feature {
  background-image: var(--primary-gradient);
  padding: 4rem 2rem;
  border-radius: 1rem;
}

.advert-heading {
  color: var(--white);
  font-weight: 700;
}

.features {
  padding: 5rem 2rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.features:hover {
  transform: scale(0.9);
}

.features:active {
  transform: scale(1);
}

.feature-icon {
  position: absolute;
  top: -3rem;
  left: 3rem;
}

.feature-icon:hover {
  opacity: 0.8;
}

.cta-text {
  text-decoration: none;
  color: #f02aa6;
  font-weight: 700;
  transition: all 0.3s;
}

.cta-text:hover {
  color: #ff6f48;
}

.cta-text:active {
  color: #4851ff;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--blue);
  padding: 3rem 5rem;
}

.product-footer {
  color: var(--white);
}
